*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height:100%;
  width: 100%;
}

.card{
  background-color: rgb(177, 7, 35);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
